@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/controller/reportController.js"></script>
<script src="~/Scripts/controller/testController.js"></script>
<link href="~/Content/angucomplete-alt.css" rel="stylesheet" />
<h2>Report Section</h2>
<style>
    .modal-dialog{
        width:80%;
    }
    .table-striped{
        width:80%;
    }
</style>
<div ng-controller="reportController" class="container">
    <div>
        <form name="FormReport" class="form-horizontal" novalidate>
            <label for="SelectReport"><h2>Select a report to view: </h2> </label>
            <select name="SelectReport" ng-model="selectedReport" ng-change="GetReportDetails(selectedReport)" class="form-control" required>
                <option value="ActiveUnMappedPeople">Active UnMapped People</option>
                <option value="ConnectsDone">Connects Done</option>
                <option value="IndividualConnects">Individual Connects</option>
                <option value="LeadsConnects">Leads Connects</option>
                <option value="MyConnects">My Connects</option>
            </select>
            <span ng-show="FormReport.SelectReport.$error.required">Report Name is required.</span>
            <div ng-if="IsSearchByDuName">
                <label for="SelectListDu"><h3> Select Du:</h3> </label>
                <select id="SelectListDu" name="DuSelectList" ng-model="selectedDu" ng-options="du.DuName for du in DuNames" class="form-control" required></select>
                <span ng-show="FormReport.DuSelectList.$error.required">Report Name is required.</span>
                <button type="button" id="btnUnMappedPeople" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-disabled="FormReport.$invalid" ng-click="GetUnmappedPeopleList(selectedDu)">View Report</button>
            </div>
            <div ng-if="IsSearchByEnterpriseId">
                <label><h3>Please enter Enterprise Id:</h3></label>
                <div ng-controller="AutoCompleteController" >
                    <div angucomplete-alt id="txtAutocomplete" placeholder="Enter Enterprise Id" pause="100"
                         selected-object="SelectedName" local-data="EnterPriseList" search-fields="Name"
                         title-field="Name" minlength="1" input-class="form-control" match-class="highlight">
                    </div>
                </div>
                <button type="button" id="btnOtherReport" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-disabled="FormReport.$invalid" ng-if="IsSearchByEnterpriseId">View Report</button>
            </div>
            
        </form>
    </div>
    <div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div style="float:right">
                            <a href="#" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-download-alt"></span> Export to Excel
                            </a>
                        </div>

                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h4 class="modal-title">{{selectedReport}} - {{selectedDu.DuName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="IsUnmappedPeopleDataAvailable">
                            <table class="table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <th>Enterprise Id</th>
                                        <th>Career Level</th>
                                        <th>Supervisor</th>
                                        <th>Project</th>
                                        <th>DU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in UnmappedPeopleList">
                                        <td>{{item.UserId}}</td>
                                        <td>{{item.EnterpriseId|uppercase}}</td>
                                        <td>{{item.CareerLevel}}</td>
                                        <td>{{item.Supervisor}}</td>
                                        <td>{{item.Project}}</td>
                                        <td>{{item.Du}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-hide="IsUnmappedPeopleDataAvailable">
                            <h4> No results found. </h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


